h1 {
    color: red;
    font-size: 36px;
}

h2 {
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
    margin: 35px;
}

#user-zip, #user-activity, #user-category {
    display: none;
}

.title {
    font-family: 'Righteous', cursive;
    font-size: 35pt;
}

#email-form {
    margin-bottom: 20px;
}

#hero-text, p, .button-font  {
    font-family: 'Titillium Web', sans-serif;
}

#user-zip {
    margin-top: 60px;
    margin-bottom: 20px;
}

#zip-button {
    margin-top: 6px;
}

#zip-text {
    margin-bottom: 6px;
    font-size: 26pt;
}

#login-form {
    margin-top: 50px;
}

#log-sign {
margin-top: 6px;
}

#test {
    margin-top: 15px;
    }

.footer {
    margin-top: 150px;
    font-size: 10pt;    
}

#points {
    font-family: 'Titillium Web', sans-serif;
    margin-top: 6px;
    font-weight: bold;
}

#user-activity, #user-category {
    margin-top: 40px;
    font-size: 26px;
    text-align: center;
}

#rest {
margin-top: 15px;
}

#category-text {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

table {
    margin-top: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12pt;
}

th {
    font-weight: bold;
    margin-right: 40px;
    margin-left: 40px;
}

#message {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16pt;
    margin-left: 15px;
    margin-right: 15px;
    color: red;
    text-align: center;
}

img {
    margin-top: 40px;
    padding: 15px;
    height: 300px;
    width: 300px;
}

#choose {
    margin: 0 10px;
}

#reset {
    margin: 0 10px;
}

#display {
    font-family: 'Titillium Web', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
}

.meetup-title {
    font-weight: bold;
}

.meetup-link {
    font-weight: bold;
}